.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/tint_img.png");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 656px;
}

.u-section-1 .u-image-1 {
    width: 181px;
    height: 181px;
    margin: 137px auto 0 480px;
}

.u-section-1 .u-text-1 {
    font-size: 4.375rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
    margin: 0 auto;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 0.875rem;
    background-image: none;
    font-weight: 700;
    margin: 40px auto 60px;
    padding: 8px 18px 9px 17px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 541px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 414px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 311px;
    }
    .u-section-1 .u-image-1 {
        margin-left: 359px;
    }
    .u-section-1 .u-text-1 {
        font-size: 6rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 196px;
    }
    .u-section-1 .u-image-1 {
        margin-left: 159px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 548px;
}

.u-section-2 .u-image-1 {
    width: 470px;
    min-height: 146px;
    background-image: url("../images/logo_muv.png");
    background-position: 50% 50%;
    margin: 177px auto 0;
}

.u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
}

.u-section-2 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 75px auto 60px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-image-1 {
        width: 340px;
    }
}

.u-section-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/tint_img.png");
    background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
    min-height: 500px;
}

.u-section-3 .u-icon-1 {
    width: 210px;
    height: 210px;
    margin: 60px auto;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 412px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 316px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 237px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 149px;
    }
}